header{
  color: whitesmoke;
  text-align: center;
  background: #444;
  padding: 2em;
}

header h1 {
  font-size: 3em;
}

header ul {
  margin-top: 1em;
}

header li {
  margin: 2em;
  display: inline;
}

#map {
  margin: 0 auto;
  width: 300px;
  height: 300px;
}

iframe {
  margin: 0 auto;
  height: 150px;
  width: 150px;
  border: 1px solid black;
}

#playerSection {
  text-align: center;
}

input {
  border: 1px solid black;
}

.notShown {
  display: none;
}
